@model OddworxShop.ViewModels.ShopItemViewModel

@{
    ViewBag.Title = "ViewItemsByShop";
}

<h4>All items for @Model.ShopName</h4>

<p>
    @*<input type="button" name="name" value="CREATE NEW ITEM" class="btn" id="create-item-for-shop" />*@
    <a href="@Url.Action("Create","Item")?shopId=@Model.ShopId" class="btn">CREATE NEW ITEM</a>
</p>

@Html.HiddenFor(model => model.ShopId)

@if (Model.Items != null && Model.Items.Count > 0)
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Ratings)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{
     <div class="row">
         <div class="col s12">
             <h5>No items found in this shop</h5>
         </div>
     </div>
}



<script>
    $(document).ready(function () {

    });

    $('#create-item-for-shop').click(function (e) {
        e.preventDefault();
        alert('create-item-for-shop');
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Create","Item")',
            data: { shopId: 1 },
            success: function(){},
            error: {}
        })
    })
</script>
