@model IEnumerable<OddworxShop.Data.Models.Item>

<div class="container-fluid">

    <section class="section-welcome" style="height:auto;">
        <h3 class="blue-grey-text text-darken-2 center-align font-georgia">Marketplace</h3>
        <h5 class="center-align  grey-text"><span class="font-georgia">Handcrafted, Homemade, Re-cycled</span></h5>
        <br />
    </section>

    <section class="section-cards" style="margin-left:20%; background-color:transparent;">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col s12 m4 l2">
                    <a href='@Url.Action("ShowItemsDetails","Home")?id=@item.Id'>
                        <div class="card z-depth-0">
                            <div class="card-image">
                                <img src='@Url.Action("GetImage","Item", new { id = item.DefaultImage } )' />
                            </div>
                            <div class="card-name">
                                @item.Name
                            </div>
                            <div class="card-shop">
                                @item.Shop.Name
                            </div>
                            <div class="card-price">
                                ZAR @item.Price
                            </div>
                            <div class="card-description">
                                <div class="text-limit" style="display:block;text-overflow: ellipsis;width: 100%;overflow: hidden; white-space: nowrap;"> @item.Description</div>
                            </div>
                        </div>
                    </a>
                </div>
            }

            @*<div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Images/design-lamps-lights-2918.jpg" />
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>*@
        </div>
    </section>
</div>

<script>
    function ShowItemDetails(e, itemId) {
        e.preventDefault();
        var id = itemId;
        alert('ShowItemDetails ' + id);

        @*$.ajax({
            type: 'GET',
            url: '@Url.Action("ShowItemsDetails", "Home")',
            data: { id: itemId },
            success: function (response) {
                alert('Success');
            },
            error: function (response) {
                alert('Error');
            }
        });*@

    }
</script>
