@model OddworxShop.ViewModels.ShowItemDetailsViewModel

@{
    ViewBag.Title = "ShowItemsDetails";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col s12 center-align">
            <h3>@Model.Name</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s1" style="border: solid 1px lightgrey; padding-top:4px;">
            
            @if (Model.Images.Count > 0)
            {
                for (var index = 0; index < Model.Images.Count; index++)
                {
                    <a href="#"><img src='@Url.Action("GetImage","Item", new { id = Model.Images[index].Id } )' style="width:100%;" onclick="ChangeImage(@Model.Images[index].Id)"/></a>
                }

            }

           
        </div>
        <div class="col s8" style="padding-top:4px; background-color:transparent;">
            <img src="@Url.Action("GetImage","Item", new { id = Model.DefaultImage } )" style="width:100%;"  id="main-image"/>

        </div>
        <div class="col s3" style="padding-top:4px;  padding-left:30px; background-color:transparent;">
            <div class="row">
                <div class="col" style="font-size:22px; font-weight:500;">
                    ZAR @Model.Price
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <button class="btn btn-danger" style="width:100%;">Contact seller</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Model.Shop.Name
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Model.Shop.Location
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="border-bottom:solid 1px lightgrey;">

    </div>

    <div class="row">
        <div class="col">
            @Model.Description
        </div>
    </div>

    <div class="row">
        <div class="col">
            Quantity
        </div>
    </div>

   <div class="row">
        <div class="col">
            Ratings
            5 Stars (45)
        </div>
    </div>

    @*<div class="row">
        <div class="col">
            @Model.Shop.Name
        </div>
    </div>
    <div class="row">
        <div class="col">
            Location
        </div>
    </div>*@

</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>

<script>
    function ChangeImage(imageId) {
        $('#main-image').attr('src', '@Url.Action("GetImage", "Item")' + '?id=' + imageId);
    }
</script>
